<div class="container">

    <div class="row">
        <div class="col-md-6">
            <img src="{{clubInfo.image}}" class="figure-img img-fluid rounded" alt="Foto del club"
                style="width: 700px; height: 400px; object-fit: cover;">
        </div>

        <div class="col-md-6">
            <h1>{{clubInfo.name}}</h1>
            <hr>
            <p><strong>{{clubInfo.address.street}}, {{clubInfo.address.city}}, {{clubInfo.address.zip}}</strong></p>
            <p>Pistas disponibles {{clubInfo.numberOfFields}}</p>
            <p class="d-flex flex-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-telephone-fill mt-1 mr-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg>
                <a class="phone">{{clubInfo.phone}}</a>
            </p>


            <p class="d-flex flex-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-laptop mt-1 mr-2" viewBox="0 0 16 16">
                    <path
                        d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z" />
                </svg>
                <a class="web">{{clubInfo.web}}</a>

            </p>

            <div class="row">
                <div class="col-md-4">
                    {{#if isFollowing}}
                    <form action="/clubs/{{clubInfo._id}}/eliminate-favourite" method="POST">
                        <button class="btn btn-secondary like" type="submit"> <svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                <path
                                    d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                            </svg> Dejar de seguir</button>
                    </form>
                    {{else}}
                    <form action="/clubs/{{clubInfo._id}}/favourite" method="POST">
                        <button class="btn btn-danger like" type="submit"> <svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                            </svg> Seguir</button>
                    </form>
                    {{/if}}
                </div>
                <div class="col-md-4">
                    {{#if isAdmin}}
                    <a href="/clubs/{{clubInfo._id}}/editar" class="btn btn-warning like">Editar perfil</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        {{#each followers}}
        <img src="{{avatar}}" class="followersPic" alt="user avatar">
        {{/each}}
    </div>
</div>


<div class="container match-cards">

    <h3>Próximos partidos</h3>

    <hr>

    <div class="row match-list">
        {{#each matchInfo}}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title">{{date}}</h5>
                        <h5 class="card-text">{{club.name}}</h5>
                    </div>
                    <p class="card-text"> <strong>Genero: </strong>{{genre}}</p>
                    <p class="card-text"> <strong> Precio: </strong>{{price}}€</p>
                    <a href=" /partidos/{{_id}}" class="btn btn-outline-dark">Ir al partido</a>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <figure id="detailsMap"></figure>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Horarios</th>
                </tr>
            <tbody>
                <tr>
                    <th scope="row">Lunes - Viernes</th>
                    <td></td>
                    <td></td>
                    <td>{{clubInfo.schedule.weekdays.from}} - {{clubInfo.schedule.weekdays.to}}</td>
                </tr>
                <tr>
                    <th scope="row">Sábado - Domingo </th>
                    <td></td>
                    <td></td>
                    <td>{{clubInfo.schedule.weekends.from}} - {{clubInfo.schedule.weekends.to}}</td>
                </tr>
                <tr>
                    <th scope="row">* Festivos</th>
                    <td colspan="2"></td>
                    <td>{{clubInfo.schedule.holidays.from}} - {{clubInfo.schedule.holidays.to}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<p hidden id="latitudeClub">{{clubInfo.location.coordinates.[1]}}</p>
<p hidden id="longitudeClub">{{clubInfo.location.coordinates.[0]}}</p>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/details-maps-club.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtf8mk6VyrR7KMMLz5WRmqhcbrtuTYDCg&callback=initMap"></script>